  /* #loader { 
            border: 12px solid #f3f3f3; 
            border-radius: 50%; 
            border-top: 12px solid #444444; 
            width: 70px; 
            height: 70px; 
            animation: spin 1s linear infinite; 
        } 
          
        @keyframes spin { 
            100% { 
                transform: rotate(360deg); 
            } 
        } 
          
        .center { 
            position: absolute; 
            top: 0; 
            bottom: 0; 
            left: 0; 
            right: 0; 
            margin: auto; 
        }  */






        /* this only works on safari lol
        .preload {
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid #3498db;
          width: 120px;
          height: 120px;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        } */







        
/* loader */
        .preload {
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 4rem;
          transition: background .15s ease;
        }


        .preload-finish {
          opacity: 0;
          pointer-events: none;
        }



/* alert */
        .alert {
          padding: 20px;
          background-color: #2196F3;
          color: white;
        }
        
        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }
        
        .closebtn:hover {
          color: black;
        }




.unstyled-button {
    border: none;
    padding: 0;
    background: none;
  }
  
  .div {
    
    margin: 5% ;
  }
  

  /* https://jsfiddle.net/Vestride/dkr9b/ */


  .quote-card-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

  }

  .pencil {
    font-size:48px; 
    padding: 0;
    border: none;
    background: none;
  }
  .empty-heart {
    font-size:48px; 
    padding: 0;
    border: none;
    background: none;
  }
  .trash {
    font-size:48px; 
    padding: 0;
    border: none;
    background: none;
  }

  .container {
  }